.header {
  padding: 50px 0;
}

.logo {
  display: block;
  margin: 0 auto;
  &:hover {
    cursor: url('../../assets/cursor.svg'), auto;
    transform: scale(1.1);
    transition: 0.2s ease-in-out transform;
  }
}

.link {
  text-decoration: none;
  display: block;
  margin: 0 auto;
  width: min-content;
}
